body {
    width: 1000px;
    background-color: white;
    margin: 0 auto;
    font-family: Arial, Verdana, Tahoma, sans-serif;
}

.blue {
    background-color: #1493b3;
    border-top: 15px solid black;
    border-bottom: 2px dashed ivory;
    padding: 20px 0;
}

.under_dashed {
    border-bottom: 15px solid #1493b3;
}

.logo {
    display: inline-block;
    font-size: 27px;
    font-weight: bold;
    color: ivory;
    text-decoration: none;
    margin-left: 120px;
}

nav {
    margin-left: 170px;
}

header div nav {
    display: inline-block;
    color: ivory;
    text-decoration: none;
    padding: 0;
}

header div nav ul {
    margin: 0;
    padding: 0;
    text-align: right;
}

header div nav ul li {
    display: inline-block;
    padding: 0;
}

header div nav ul li a{
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    color: ivory;
    padding: 0;
    margin-left: 50px;
}

header div nav ul li a:hover {
    font-weight: bold;
}

.left_align, .right_align {
    border: 1px solid red;
    display: inline-block;
}

.left_align{
    width: 551px;
    margin-left: 120px;
}

.right_align {
    width: 175px;
    vertical-align: top;
    line-height: 20px;
}

h1 {
    font-weight: bold;
    padding-top: 0;
    font-size: 46px;
}

.upper, .bottom {
    display: block;
    border-bottom: 2px dashed grey;
    text-align: right;
    color: grey;
    list-style: none;
    font-size: 15px;
    width: 175px;
    padding-left: 0;
}

.bottom {
    margin-bottom: 0;
}

.upper {
    margin-top: 48px;
}

.list_title {
    background-color: black;
    text-align: left;
    color: lightgray;
    font-weight: bold;
    padding-left: 5px;
    line-height: 35px;
}
